
@{
    ViewBag.Title = "Index";
}


<h1 style="text-align: center">Welcome to contact book application</h1>


<p style="text-align: center">Created by Yüceltan Ebiri</p>


<div align="center">
    <img src="~/Logo_Akademia_pion_wersjapodst_CMYK_ENG.jpg"  height="500" width="800"/>
   
<div>
