
@{
    ViewBag.Title = "Index";
}


<h1>WELCOME TO CONTACT BOOK APPLICATION</h1>



<a href="link" style="text-align: center">

    <img src="~/Logo_Akademia_pion_wersjapodst_CMYK_ENG.jpg" align="center">
</a>